body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #4d4d4d;
    background-color: #fff;
}
a{
    text-decoration: none;
    color: #4d4d4d;
}
.para-color{
    color: #999999;
}
h1{
    font-size: 65px;
}
h2{
    font-size: 60px;
    margin-bottom: 0.2em;
}
h3{
    font-size: 45px;
    margin-bottom: 0.2em;
}
h4
{
    font-size: 30px;
    margin-top: 0;
}
.heroContainer{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 250px;  
}
.halfWidth{
    width: 500px;
    margin: 0 130px;
}
.heroInfo{
    list-style: none;
    padding-left: 0;
    font-weight: 600;
}
address{
    font-style: normal;
}
.heroInfo li a{
    text-decoration: none;
}
.heroInfo li{
    margin: 10px 0px;
}
#helloShape{
    margin-top: 50px;
}
#helloShape span{
    padding: 10px 35px;
    text-align: center;
    font-size: 16px;
    background-color: #a97afd;
    color: white;
    font-weight: 700;
    width: 160px;
    height: 30px;
    border-radius: 25px;
    border-bottom-left-radius: 0;
}
.firstLayerBorderImg{
    margin: 0 auto;
    float: none;
    text-align: center;
}
.secondLayerBorderImg{
    width: 380px;
    height: 380px;
    margin: auto;
    border: 20px solid rgba(0, 0, 0, 0.07);
    border-radius: 50%;
}
.secondLayerBorderImg img{
    width: 340px;
    height: 340px;
    text-align: center;
    border: 20px solid rgba(0, 0, 0, 0.17);
    border-radius: 50%;
}
.aboutImg{
    width: 100%;
}
.linkButton{
    color: white;
    text-align: center;
    font-weight: 700;
    background-color: #a97afd;
    padding: 10px 35px;
    border-radius: 30px;
    margin-top: 90px;
}
.buttonContainer{
    margin-top: 40px;
}
.aboutMe-skills{
    margin: 0;
    margin-left: -10px;
    padding: 0;
}
.aboutMe-skills ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.aboutMe-skills ul li{
    padding: 5px 8px;

    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid rgba(46, 46, 46, 0.3);
    border-radius: 4px;
    font-weight: 500;
}
.aboutMeDescription h3{
    margin-top: 10px;
}
.aboutMeDescription p{
    text-align: justify;
}
.aboutMeDescription{
    width: 500px;
    margin: 0 40px 150px;
}
.whatIDo
{
    width: 1150px;
    margin: -20px auto 100px;

}
.whatIDo-title h3{
    display: inline-block;
}
.whatIDo-title{
    text-align: center;
    margin-bottom: 30px;
}
.whatIDoFlex{
    display: flex;
    justify-content: center;
}
.whatIDoFlex div{
    background-color: white;
    margin-left: 30px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px 4px #00000015;
}
.whatIDoFlex div p{
    text-align: justify;
    color: #000;
    font-weight: 500;
    opacity: 0.8;
}
.whatIDoFlex div h4{
    font-size: 25px;
}
.whatIdo-flex-1{
    flex: 1;
}
.whatIdo-flex-2{
    flex: 1;
}
.whatIdo-flex-3{   
    flex: 1;
}