body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #4d4d4d;
    background-color: #fff;
}
a{
    text-decoration: none;
    color: #4d4d4d;
}
.para-color{
    color: #999999;
}
h1{
    font-size: 65px;
}
h2{
    font-size: 55px;
    margin-bottom: 0.2em;
}
h3{
    font-size: 45px;
    margin-bottom: 0.2em;
}
h4
{
    font-size: 30px;
    margin-top: 0;
}
.heroContainer{
    display: flex;
    justify-content: center;
    margin-top: 150px;  
}
.halfWidth{
    width: 500px;
    margin: 0 80px;
}
.heroInfo{
    list-style: none;
    padding-left: 0;
    font-weight: 600;
}
address{
    font-style: normal;
}
.heroInfo li a{
    text-decoration: none;
}
.heroInfo li{
    margin: 10px 0px;
}
#helloShape{
    margin-top: 90px;
}
#helloShape span{
    padding: 10px 30px;
    text-align: center;
    font-size: 14px;
    background-color: #a97afd;
    color: white;
    font-weight: 700;
    width: 160px;
    height: 30px;
    border-radius: 25px;
    border-bottom-left-radius: 0;
}
.firstLayerBorderImg{
    margin: 0 auto;
    float: none;
    text-align: center;
}
.secondLayerBorderImg{
    width: 400px;
    height: 400px;
    margin: auto;
    border: 20px solid rgba(0, 0, 0, 0.07);
    border-radius: 50%;
}
.secondLayerBorderImg img{
    width: 360px;
    height: 360px;
    text-align: center;
    border: 20px solid rgba(0, 0, 0, 0.17);
    border-radius: 50%;
}
.aboutImg{
    width: 90%;
}
.linkButton{
    color: white;
    text-align: center;
    font-weight: 700;
    background-color: #a97afd;
    padding: 10px 35px;
    border-radius: 30px;
    margin-top: 80px;
}